#homepage{
    margin: 15px;
    // overflow:auto;width:calc(100vh - );
}
#Dashboard{
    font-size: 25px;
}
.completed{
    color: rgb(54, 201, 59);
}


.centertext{
    margin: 20px;
    display: flex;
    align-items: center;
}
// new task form

